# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# environment variables
.env*
!.env.example
!.env.test

# localstack
.localstack

# jest
coverage

# Mac
.DS_STORE
